body{
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left,#ffffff,  #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

hr{
  color: black;
  background-color: black;
  height: 1px;
}

.row{
  padding-top: 0px;
}

h4{
  font-weight: bold;
}

.btn {
    padding: 10px 20px;
    border: 1px solid black;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    border: 2px solid black;
}

button{
   margin-top: 5px;
   padding:5px;
 }

#hovertext{
  padding-top: 10px;
  font-weight:bold;
}

.overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  background: gray;
  color:white;
}

.toggleStyleActive{
  color:red;
  font-weight: bold;
}

.toggleStyleActive2{
  color:orange;
  font-weight: bold;
}

.toggleStyleActive3{
  color:green;
  font-weight: bold;
}

.toggleStyleActive4{
  color:blue;
  font-weight: bold;
}

.resize{
   max-width:50%;
   max-height:50%;
}

.toggleStyleImage{
  border-width:10px;
  border-color: red;
  border-style: solid;
}

.toggleTableStyleEven{
  background-color:red;
}

.toggleTableStyleOdd{
  background-color:green;
}
